<p id="notice"><%= notice %></p>


<table>
  <thead>
  <h2><%= @user.name %>'s created events</h2>
  <tr>
    <th>Event ID</th>
    <th>Event</th>
    <th>Date</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <% @user.events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= link_to event.name, event %></td>
      <td><%= event.date %></td>
      <td><%= event.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<table>
  <thead>
  <h3><span style="color: red;">Past Events</span></h3>
  <tr>
    <th>Event ID</th>
    <th>Event</th>
    <th>Date</th>
    <th>Description</th>
    <th>Attendees</th>
  </tr>
  </thead>
  <tbody>
  <% @user.attended_events.sort_by(&:date).each do |event| %>

      <tr>
        <%= attended %>
      </tr>

  <% end %>
  </tbody>
</table>
<table>
  <thead>
  <h3><span style="color: green;">Upcoming Events</span></h3>
  <tr>
    <th>Event ID</th>
    <th>Event</th>
    <th>Date</th>
    <th>Description</th>
    <th>Attendees</th>
  </tr>
  </thead>
  <tbody>
  <% @user.attended_events.sort_by(&:date).each do |event| %>

      <tr>
        <%= attended_future %>
      </tr>

  <% end %>
  </tbody>
</table>



