<%= form_with(model: event, local: true) do |f| %>
  <div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <br>
  <div class="form-group">
  <%= f.label :date %>
  <%= f.date_field :date, placeholder: "Date" %>
  </div>
  <br>
  <div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "Description" %>
  </div>

  <div class="actions">
    <%= f.submit "Create event", class: "btn btn-primary" %>
  </div>
<% end %>
