<nav class="navbar navbar-fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Home</a>



      <form class="form-inline">

        <%= nav_link_events %>
        <%= nav_link_new_event %>
        <div style="padding-left: 10px;">
             <%= logout_link %>
          <%= login_link %>
          <%= signup_link %>

        </div>
      </form>
    </nav>

